body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    transition: opacity 1s ease-in;
}
.container {
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 5px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin: 20px 0;
}
.datetime {
    margin: 15px 0;
    font-size: 14px;
    color: #666;
}
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #5b6672;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #3e4145;
    color: white; 
    border: none; 
    padding: 10px 15px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin: 3px 0; 
    width: 100%; 
}

button.back {
    background-color: #ccc;
}

button:hover {
    background-color: rgb(43, 43, 43);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
